body {
}


.nav-top {
    max-width: 1310px;
    height: 95px;
    padding: 15px 10px;

    font-family: "Roboto Condensed",sans-serif;
    color: white;
    background-color: #f72210;
}

date {
    font-weight: 100;
}

.nw-logo {
    width: 400px;
}

.nw-logo path {
    fill: white;
}

img[src="images/33.webp"] {
    height: 30px;
}

.subscribe {
    height: 30px;
    background-color: #ffe400;
}

.nav-bottom {
    margin: 0 auto;
    padding: 1em 0;
    max-width: 1310px;
    background-color: white;
}

.nav-link {
    padding: 0;
    color: black;
    font-weight: 600;
    text-align: center;
}

.nav-link:hover {
    color: #f72210;
}

.trending-list {
    padding: 0.6em 2em;
    font-size: 0.95em;
    letter-spacing: -1px;
}

.main-section,
.in-the-mag,
.more-news,
.footer-socials {
    max-width: 1310px;
    font-size: 0.9em;
    background-color: white;
}

.featured-top-debate {
    padding: 25px 15px;
}

.article-body {
    padding-top: 10px;
    margin-bottom: 15px;
}

.red-bg {
    padding: 2px 7px;
    background-color: #f72210;
}

.small-text {
    font-size: 1em;
}

.red-text {
    color: #f72210;
}

.nw-logo-footer path {
    fill: #f72210 ;
}

.nw-logo-footer {
    width: 250px;
}

.social-icons:hover {
    fill: #f72210;
}

.social-icons {
    margin: 0 5px;
}

.footer-links li:hover {
    color: black;
}

@media (min-width: 768px) and (max-width: 991.98px) { 
    .nav-top {
        height: 50px;
        align-items: center;
        padding: 0 10px;
    }

    .nw-logo {
        width: 150px;
    }
 }